{% for article in blogs[blog].articles limit: 20 %}
    {% assign src = '' %}
    {% if article.content contains "<img" %}
        {% assign src = article.content | split: 'img src="' %}
        {% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn';; | replace: 'http:http://';;, 'http://';; | remove: 'https:' %}
    {% endif %}
    {% if src != blank %}
        {% break %}
    {% endif %}
{% endfor %}

<div>
    <a href="pages/{{ blog }}">
        <h5><i class="fa {{ blog_icon }}"></i> {{ blog_name }}</h5>
        <div>
            {% if src != blank %}
                <img src="{{ src }}" class="img-responsive" width="100%"></a>
            {% endif %}
        </div>
    </a>
</div>

