<h3 class="center-underlined">News & Trends</h3>
<div class="news">
    {% for article in blogs['news'].articles %}
        {% assign src = '' %}
        {% if article.content contains "<img" %}
            {% assign src = article.content | split: 'img src="' %}
            {% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn';; | replace: 'http:http://';;, 'http://';; | remove: 'https:' %}
            {% if src %}
                <img src="{{ src }}" class="img-responsive" width="100%">
                <h4><i class="fa fa-newspaper-o"></i> {{ article.title }}</h4>
                <div>
                    {{ article.content | strip_html | truncatewords: 100}} <a href="pages/news?article={{ article.id }}" class="read-more">READ MORE</a>
                </div>
                {% break %}
            {% endif %}
         {% endif %}
    {% endfor %}
    <div class="text-center">
        <a class="btn btn-default" href="pages/news">READ MORE</a>
    </div>
</div>
