<h3 class="center-underlined">Customers</h3>
<div class="customers">
    {% for article in blogs['customers'].articles limit: 8 %}
        <div class="customer">
            <div class="content">
                {{ article.content | strip_html}}
            </div>
            <b>{{ article.title }}</b>
        </div>
    {% endfor %}
</div>
