<header class="page-header">
    <!-- Atom Feed Subscribe Link -->
    <a href="{{ blog.url }}.atom" title="Subscribe to Atom Feed" class="pull-right"><span class="glyphicon glyphicon-pushpin"></span></a>

    <!-- Blog Title -->
    <h1>{{ blog.title }}</h1>
</header>

<div class="container">
  <div class="row">

    <!-- Articles List -->
    <div class="col-md-9">
        <div class="blog-view">
          <div class="scroller scroller-left"><i class="glyphicon glyphicon-chevron-left"></i></div>
          <div class="scroller scroller-right"><i class="glyphicon glyphicon-chevron-right"></i></div>

          <div class="wrapper">
              <ul class="nav nav-tabs list" id="myTab">
                  {% for article in blog.articles %}
                      <li class="active"><a href="{{ article.url }}">{{ article.title | escape }}</a></li>
                  {% endfor %}
              </ul>
          </div>
        </div>

        <div id="post">

        </div>
      </div>
    </div>
</div>