<div class="collection">
    <header class="page-header">
      <h1>{{ collection.title }}</h1>
    </header>

    {% include 'breadcrumbs' %}

    <!-- Display the collection description if one exists. -->
    {% unless collection.description == '' %}
        <article class="description">
            {{ collection.description }}
            <div class="clearfix"></div>
        </article>
    {% endunless %}

    <!-- Sub Collections -->
    {% assign has_subs = false %}
    {% if linklists[collection.handle] and linklists[collection.handle].links.size > 0 %}
        {% assign has_subs = true %}
        {% include 'sub-collections' with '3' %}
    {% endif %}
        <div class="row">
          <!-- Products -->
          <div class="col-md-12">
            {% if collection.products.size == 0 %}
                {% if has_subs == false %}
                      <div class="panel panel-default">
                        <div class="panel-body">
                          No products found in this collection.
                        </div>
                      </div>
                {% endif %}
            {% else %}
                <article class="products">
                    {% paginate collection.products by 12 %}
                    <!-- Include product list in groups of 3. -->
                    {% for product in collection.products %}
                        {% include 'product-list' with '3' %}
                    {% endfor %}

                    <div class="text-center">
                        {% include 'pagination' with 'product' %}
                    </div>
                    {% endpaginate %}
                </article>
            {% endif %}
          </div>
        </div>
</div>