{% assign page = pages.frontpage %}
{% layout 'home' %}

<div class="container">
    <!-- Slideshow, if we'd like it within the content container. -->
    {% if settings.slideshow_position == "content" %}
        {% include 'slideshow' %}
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            {% include 'home-collections'%}
        </div>
    </div>
</div>


<div class="well well-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-4 home-gallery-thumbnail">
                        <div>
                            <h5><i class="fa fa-recycle"></i> Materials</h5>
                            {% assign blog = 'news' %}
                            {% include 'home-gallery-thumbnail' with blog %}
                        </div>
                    </div>

                    <div class="col-md-4  home-gallery-thumbnail">
                        <div>
                            <h5><i class="fa fa-users"></i> Featured Designers</h5>
                            {% assign blog = 'news' %}
                            {% include 'home-gallery-thumbnail' with blog %}
                        </div>
                    </div>

                    <div class="col-md-4 home-gallery-thumbnail">
                        <div>
                            <h5><i class="fa fa-play-circle"></i> Media</h5>
                            {% assign blog = 'news' %}
                            {% include 'home-gallery-thumbnail' with blog %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% include 'home-customer-stories' %}
        </div>

        <div class="col-md-4">
            {% include 'home-news' %}
        </div>

        <div class="col-md-4">
            {% include 'home-list-subscribe' %}
        </div>
    </div>
</div>