{% assign page = pages.frontpage %}
{{ page.content }}

<div class="row">
    <div class="col-md-12">
        {% include 'home-collections'%}
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Media</h2>
        {% assign blog = 'news' %}
        {% include 'gallery-thumbnail' with blog %}
    </div>

    <div class="col-md-4">
        <h2>Materials</h2>
        {% assign blog = 'news' %}
        {% include 'home-gallery-thumbnail' with blog %}
    </div>

    <div class="col-md-4">
        <h2>Featured Designers</h2>
        {% assign blog = 'news' %}
        {% include 'home-gallery-thumbnail' with blog %}
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        {% include 'home-customer-stories' %}
    </div>

    <div class="col-md-4">
        {% include 'home-news' %}
    </div>

    <div class="col-md-4">
        {% include 'home-list-subscribe' %}
    </div>
</div>