{% assign page = pages.frontpage %}
{% layout 'home' %}

<div class="container" xmlns="http://www.w3.org/1999/html">
    <!-- Slideshow, if we'd like it within the content container. -->
    {% if settings.slideshow_position == "content" %}
        {% include 'slideshow' %}
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            {% include 'home-collections'%}
        </div>
    </div>
</div>


<div class="well well-lg">
    <div class="container mobile-container">
        <div class="row">
            <div class="col-sm-12 mobile-ignore">
                <div class="col-sm-12 mobile-ignore">
                    <div class="col-sm-4 home-gallery-thumbnail">
                        <div>
                            <h5><i class="fa fa-recycle"></i> Materials</h5>
                            {% assign blog = 'materials' %}
                            {% include 'home-gallery-thumbnail' with blog %}
                        </div>
                    </div>

                    <div class="col-sm-4  home-gallery-thumbnail">
                        <div>
                            <h5><i class="fa fa-users"></i> Featured Designers</h5>
                            {% assign blog = 'designers' %}
                            {% include 'home-gallery-thumbnail' with blog %}
                        </div>
                    </div>

                    <div class="col-sm-4 home-gallery-thumbnail">
                        <div>
                            <h5><i class="fa fa-play-circle"></i> Media</h5>
                            {% assign blog = 'media' %}
                            {% include 'home-gallery-thumbnail' with blog %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mobile-container">
    <div class="row">
        <div class="col-md-4">
            {% include 'home-customer-stories' %}
        </div>

        <div class="col-md-4">
            {% include 'home-news' %}
        </div>

        <div class="col-md-4">
            {% include 'home-list-subscribe' %}
            <article class="location">
                <h3 class="center-underlined">Location</h3>
                <div class="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12999.56494418182!2d-97.532455!3d35.457487!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5eae44256109e5a5!2sUrban+Farmhouse+Designs!5e0!3m2!1sen!2sus!4v1432777570960" width="100%" height="300" frameborder="0" style="border:0; margin-top: -71px;"></iframe>
                </div>
                <p>
                    <a href="https://www.google.com/maps?espv=2&biw=1876&bih=910&bav=on.2,or.r_cp.&ion=1&um=1&ie=UTF-8&q=urban+farmhouse+designs+places&fb=1&gl=us&hnear=0x87b21129243b80d5:0x5eae44256109e5a5,urban+farmhouse+designs+places&cid=6822465412845397413&sa=X&ei=3X1mVaGfKYbksAXAvICACA&ved=0CCUQrwswAA" class="directions-link"><i class="fa fa-location-arrow"></i></a>400 S. Western Ave<br />
                    Oklahoma City, OK 73109<br />
                    (405) 305-6353
                </p>
            </article>
            <article class="store-hours">
                <h3 class="center-underlined">Store Hours</h3>
                <p class="text-center">
                    Monday-Friday: <b>9am - 5pm</b><br />
                    Saturday: <b>9am - 6pm</b><br />
                    Sunday: <b>(closed)</b>
                </p>
            </article>

        </div>
    </div>
</div>