{% assign page = pages.frontpage %}
{% layout 'home' %}

<div class="container" xmlns="http://www.w3.org/1999/html">
    <!-- Slideshow, if we'd like it within the content container. -->
    {% if settings.slideshow_position == "content" %}
        {% include 'slideshow' %}
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            {% include 'home-collections'%}
        </div>
    </div>
</div>


<div class="well well-lg">
    <div class="container mobile-container">
        <div class="row">
            <div class="col-sm-12 mobile-ignore">
                <div class="col-sm-12 mobile-ignore">
                    <div class="col-sm-4 home-gallery-thumbnail">
                        {% assign blog = 'materials' %}
                        {% assign blog_name = 'Materials' %}
                        {% assign blog_icon = 'fa-recycle' %}
                        {% include 'home-gallery-thumbnail' with blog %}
                    </div>

                    <div class="col-sm-4  home-gallery-thumbnail">
                        {% assign blog = 'designers' %}
                        {% assign blog_name = 'Featured Designers' %}
                        {% assign blog_icon = 'fa-users' %}
                        {% include 'home-gallery-thumbnail' with blog %}
                    </div>

                    <div class="col-sm-4 home-gallery-thumbnail">
                        {% assign blog = 'media' %}
                        {% assign blog_name = 'Media' %}
                        {% assign blog_icon = 'fa-play-circle' %}
                        {% include 'home-gallery-thumbnail' with blog %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mobile-container">
    <div class="row">
        <div class="col-md-4">
            {% include 'home-customer-stories' %}
        </div>

        <div class="col-md-4">
            {% include 'home-news' %}
        </div>

        <div class="col-md-4">
            {% include 'home-list-subscribe' %}
            <article class="location text-center">
                <h3 class="center-underlined">Location</h3>
                <div class="map-container">
                    {{ settings['location_embed_1'] }}
                </div>
                <p>
                    {{ settings['location_info_1'] }}
                </p>
            </article>
            <article class="store-hours">
                <h3 class="center-underlined">Store Hours</h3>
                <p class="text-center">
                    Monday-Friday: <b>9am - 5pm</b><br />
                    Saturday: <b>9am - 6pm</b><br />
                    Sunday: <b>(closed)</b>
                </p>
            </article>

        </div>
    </div>
</div>