<header class="page-header">
  <h1>{{ page.title }}</h1>
</header>

{% include 'breadcrumbs' %}

<div class="contact">
    <div class="row">
        <div class="col-sm-6">
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 bottom-dotted">
                            <article id="mc_embed_signup">
                                <h3>Connect with us</h3>
                                <p>We'd love to keep in touch! Sign up to receive email updates.</p>
                                {% include 'list-subscribe' %}
                            </article>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 bottom-dotted">
                            <article>
                                <a class="btn btn-block btn-default call-back" href="/pages/call-back-request">
                                    <i class="fa fa-mobile"></i> Request a callback
                                </a>
                            </article>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <article>
                                {{ page.content }}
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 left-dotted">
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <article class="text-center">
                        <h3>Locations</h3>
                        {% include 'locations' %}
                    </article>

                </div>
            </div>
        </div>
    </div>
</div>
